if has nix; then
  # Are flake supported and enabled?
  if nix show-config | grep experimental-features | grep flakes 2>&1 > /dev/null; then
    # Do we have nix-direnv?
    if ! has use_flake; then
      source_url "https://raw.githubusercontent.com/nix-community/nix-direnv/1.4.0/direnvrc" "sha256-4XfVDjv75eHMWN4G725VW7BoOV4Vl3vAabK4YXIfPyE="
    fi

    use flake
  else
    use nix
  fi
fi

layout ruby
layout node
